/* base of webpage */
/* Variables */

:root {
  --a: #b6cdff;
  --b: #142b41;
}

/* element selectors */

html {
  height: 100%;
  scroll-behavior: smooth;
}

body { 
  font-family:'Times New Roman', Times, serif;
  color:#fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--b);
  align-items: center;
  min-height: 100%;
  line-height: 2;
  margin: 0px 0px;
  /* background: url("https://images.unsplash.com/photo-1524055988636-436cfa46e59e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGJhY2slMjBncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60");
  background-size: cover;
  background-attachment: fixed; */
}



/* Header and Nav Bar */
header {
  transition: 3s;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: white;

}

nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-around;

}

nav a {
  width: 100%;
  color:var(--b);
  padding: 10px 10px;
  text-decoration:none;
  background-color: white;
  text-align: center;
  background:  var(--a);
}

#h1:hover {
  transform:scale(1.6);
  color: white;
}

#profile {
  display: block;
  margin: auto;
  border-radius: 5px;
  border:5px solid #fff;
}
#profile:hover {
  box-shadow: 0px 0px 20px 1px  #506a85;
}

/* MAIN */

main {
  margin: 30px;
  flex-wrap: wrap;
}

/* MAIN - MY WORK  */

#work p {
    text-align: center;

}

#work img {
  border-radius: 5px;
  border:5px solid #fff;
  opacity:0.7
}

#m-w-img: {
  content: HELLO;
}

#work img:hover {
  opacity: 1;
}
/* MAIN - CONTACT SECTION*/

#c-right {
  width: 75%;
  text-align:center;
  padding-top: 20px;
}

#c-right a {
  display: inline-block; 
}
  

/*Footer*/
footer {
  width:100%;
  background-color: var(--a);
  display:block;
}

h6 {
  justify-content: space-evenly;
  text-align: center;
}


/* MEDIA QUERIES */
/* Mobiles + Small Screens*/ 
@media screen and (min-width: 500px) {
    nav {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content:space-around;
  }
  
 }
 
 /* Laptops + Large Tablets */
 @media screen and (min-width: 1000px) {
  nav {
      width: 100%;
      display: flex;
      flex-direction: row;
      color: var(--a);
  }

  #work img {
      border-radius: 10px;
      border:5px solid white;
      opacity:0.8
  }

  #w-r-top img:hover {
    transform: scale(1.1);     
  }

   #about, #work, #contact {
      flex: 100%;
      display: flex;
      flex-direction: row;
  }

  #a-left, #w-left, #c-left{
      flex:25%;
      border-right:5px solid var(--a);
      padding-left: 20px;     
  }

  #a-right {
      flex:75%;
      padding:20px;
      align-items: center;
  }
  #c-right {
      flex:75%;
  }

  #w-right {
      flex:75%;
      padding:20px;
      flex-direction: row;
      flex-wrap: wrap;
  }

  #w-r-top {
      justify-content: center;
      margin: auto;
      opacity: 1;
  }

  #w-r-bottom {
      display: flex;     
      width: 100%;
  }

  #w-r-bottom .photos {
      width: 20%; 
      margin: 20px;
      flex-direction:row; 
    }

  .photos {
      flex: auto;
      justify-content: space-around;
  }

  .photos img {
      width:100%;
      height: 80%;
  }

  .photos img:hover {
      transform: scale(1.6);     
  }
      
  footer {
    width:100%;
    background-color: var(--a);
    display:inline;
  }
 
}
 
/* Desktops + larger screens */
@media screen and (min-width: 1300px) {
  #about, #work, #contact {
      flex: 100%;
      display: flex;
      flex-direction: row;
  }

  #a-left, #w-left, #c-left{
      flex:25%;
      border-right:5px solid var(--a);
      padding-left: 30px;     
  }

  #a-right, #c-right {
      flex:75%;
      padding:20px;
      align-items: center;
  }

  #w-right {
      flex:75%;
      padding:20px;
      display:inline-flex; 
      flex-direction: row;
  }

  #w-r-top {
      display: block;
      flex:100%;
      margin: auto;
      opacity: 1;
  }

}